.todo-form {
    margin-bottom: 32px;
    margin-left: 38%;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgba(17, 122, 255, 1);
    outline: none;
    width: 320px;
    align-items: center;
    justify-content: center;
  }

  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(17, 122, 255, 1) 0%,
      rgba(20, 159, 255, 1) 100%
    );
    color: white;
    text-transform: capitalize;
  }
  .strike{
    text-decoration: line-through;
}

.todo-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 30%;
}

.todo-header{
    margin-left: 44%;
    color: rgb(219, 139, 139);
}

.todo-clear-complete{
    margin-left: 55%;
    padding: 10px;
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    color: white;
    text-transform: capitalize;
}